#main {
    border: 1px dotted black;
  }
  h1 {
    margin: 0;
    display: inline;
  }
  button {
    float: right;
    margin-top: 0px;
    padding: 0; 
  }.f-l {
    float: left;
}    
.f-r {
    float: right;
}